
lxapp/android/app/src/main/java/com/example/flutter_login_page_ui/MainActivity.java

lxapp/assets/CustomIcons.ttf

lxapp/assets/image_01.png

lxapp/assets/image_02.png

lxapp/assets/logo.png

lxapp/assets/logo.png.bak

lxapp/assets/logo1.png.bak

lxapp/assets/Poppins-Bold.ttf

lxapp/assets/Poppins-Medium.ttf
